extends layout

block content
  h1 #{title}
  form(id='form' method='post')
    input(type="text" placeholder="New Password" name="password")
    input(type="text" placeholder="Retype New Password" name="r_password")
    input(type="submit", value="Change Password")
  p(id='message')

  script.
    const $form = $('#form')
    $form.on('submit', submitHandler)

    function submitHandler (e) {
      e.preventDefault();

      $.ajax({
        url: '/reset-password?token=#{token}',
        type:'POST',
        data: $form.serialize()
      }).done(response => {
        $('#message').text(response.message);
        console.log(response);
      });
    }